* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background: #F0F0F0;

    .inner-header {
        width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .leftLinks,
        .rightLinks {
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                color: black;
            }
        }

        .rightLinks {
            button {
                width: 20px;
                height: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;

    .user-transactions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 48px;
            font-weight: 700;
        }

        a {
            color: blue;
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .transaction-place {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 60px;

        .transaction-container-over {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #B9C0D1;

            span {
                font-size: 14px;
                font-weight: 600;
                color: #B9C0D1;
            }

            .span1 {
                width: 10%;
            }

            .span2 {
                width: 35%;
            }

            .span3 {
                width: 20%;
            }

            .span4 {
                width: 25%;
            }

            .span5 {
                width: 10%;
            }
        }

        .transaction-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid black;

            span {
                font-size: 14px;
                font-weight: 600;
                color: black;
            }

            .transaction-card-id {
                width: 10%;
            }

            .transaction-card-type {
                width: 35%;
                text-transform: uppercase;
            }

            .transaction-category {
                width: 20%;
                text-transform: capitalize;
            }

            .transaction-amount {
                width: 25%;
            }

            .transaction-time {
                width: 10%;
            }
        }
    }

    #add-transactions {
        margin-top: 25px;
        width: 450px;
        height: 50px;
        background: blue;
        color: white;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}